<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            required
            [(ngModel)]="cliente.nome"
            name="nome"
          />
        </div>
  
        <div class="form-group">
            <label for="cpf">CPF</label>
            <input
              type="text"
              class="form-control"
              id="cpf"
              required
              [(ngModel)]="cliente.cpf"
              name="cpf"
            />
        </div>
  
        <div class="form-group">
            <label for="endereco">Endereço</label>
            <input
              type="text"
              class="form-control"
              id="endereco"
              required
              [(ngModel)]="cliente.endereco"
              name="endereco"
            />
        </div>

        <div class="form-group">
            <label for="endereco">Bairro</label>
            <input
              type="text"
              class="form-control"
              id="bairro"
              required
              [(ngModel)]="cliente.bairro"
              name="bairro"
            />
        </div>

        <div>
          <label for="telefone">Telefone</label>
          <input type="text" id="telefone" [(ngModel)]="telefone.numero" />
          <button (click)="inserirTelefone()">Adicionar</button>
        </div>
        
        <ul>
          <li *ngFor="let tel of cliente.telefones">{{ tel.numero }}</li>
        </ul>

        <button (click)="submit()" class="btn btn-success">Salvar</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Cliente salvo com sucesso!</h4>
        <button class="btn btn-success" (click)="clear()">Novo Cliente</button>
      </div>
    </div>
  </div>